.site-inner.full {
    padding: 0;
    max-width: none;
}

.front-page-section {
  padding: 50px 0;
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.front-page-section {
	font-size: 16px;
}

.front-page-section:nth-child(odd) {
    background-color: #f5f5f5;
}

.front-page-section:nth-child(even) {
    background-color: #fff;
}

.front-page-section .widget-area {
	opacity: 0;
	-webkit-transform: translateY(30px);
	        transform: translateY(30px);
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

.fade-in .widget-area {
	opacity: 1;
	-webkit-transform: translateY(0);
	        transform: translateY(0);
}

.front-page-section .widget-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.front-page-section .button {
	background: #ec660c;
	color: #fff;
	padding: 10px 15px;
}

li.arrow, li.check {
    border-bottom: none;
    list-style-type: none !important;
    padding-bottom: 7px !important;
    padding-left: 10px;
    padding-top: 7px !important;
}

li.check:before {
    content: "\f00c";
    color: #ec660c;
    display: inline-block;
    font-family: "fontAwesome";
    margin-right: 10px;
    word-wrap: break-word;
}

li.arrow:before {
    content: "\f061";
    color: #ec660c;
    display: inline-block;
    font-family: "fontAwesome";
    margin-right: 10px;
    word-wrap: break-word;
}


.front-page-2 h4 {
	color: #ec660c;
	font-weight: 700;
}

.front-page-3 {
	text-align:center;
}

.front-page-4 {
	background: url(images/creative-mil.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.front-page-4 .widget-wrap {
    padding: 20px;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -999;
    background-color: rgba(255,255,255,0.6);
}

.front-page-section blockquote::before {
    content: "\f122";
    display: inline-block;
    font-size: 30px;
    font-size: 3rem;
    height: 0;
    left: -20px;
    position: relative;
    top: -10px;
}

.front-page-section blockquote {
    margin: 40px;
    font-size: 18px;
    text-align: center;
}